{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>FUFUFAFA STORE</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<!-- Mengubah background menjadi hitam -->
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-black flex flex-col">
  <div class="p-2 mb-6 relative">
    <!-- Grid dengan tiga kolom untuk tampilan desktop, satu kolom untuk mobile -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Kotak informasi tetap putih -->
      <div class="bg-white shadow-md p-4 rounded-lg">
        <h2 class="card-info-title text-black">NPM</h2>
        <p class="card-info-value text-black">{{ NPM }}</p>
      </div>
      <div class="bg-white shadow-md p-4 rounded-lg">
        <h2 class="card-info-title text-black">Name</h2>
        <p class="card-info-value text-black">{{ name }}</p>
      </div>
      <div class="bg-white shadow-md p-4 rounded-lg">
        <h2 class="card-info-title text-black">Class</h2>
        <p class="card-info-value text-black">{{ class }}</p>
      </div>
    </div>
  </div>

  <div class="px-3 mb-4">
    <!-- Mengubah latar belakang menjadi merah -->
    <div class="flex rounded-md items-center bg-red-600 py-2 px-4 w-fit">
      <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
    </div>
  </div>

  <div class="flex justify-end mb-6">
    <!-- Mengubah tombol menjadi merah -->
    <a href="{% url 'main:create_car_item' %}" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Car Item
    </a>
  </div>

  {% if not car_items %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
    <p class="text-center text-white-600 mt-4 text-white">Belum ada data produk pada FUFUFAFA STORE.</p>
  </div>
  {% else %}
  <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
    {% for car_item in car_items %}
      {% include 'card_car.html' with car_item=car_item %}
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}
