
<!-- <h1>{{ app }}</h1>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>
<h5>Price </h5>
<p>{{ price }}<p>
<h5>Description: </h5>
<p>{{ description }}<p>
<h5>Model Number: </h5>
<p>{{ model_number }}<p> -->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ app }}</title>
        <style>
            h1 {
            font-family: 'Arial', sans-serif;
        }
            h5 {
            font-family: 'Times New Roman', Times, serif;
        }
            p {
            font-family: 'Comic Sans MS', cursive, sans-serif;
        }
        </style>
    </head>
    <body>
        <h1>{{ app }}</h1>
    
        <h5>Name:</h5>
        <p>{{ name }}</p>
    
        <h5>Class:</h5>
        <p>{{ class }}</p>
    
        <h5>Price:</h5>
        <p>{{ price }}</p>
    
        <h5>Description:</h5>
        <p>{{ description }}</p>
    
        <h5>Model Number:</h5>
        <p>{{ model_number }}</p>

        <h5>User Review:</h5>
        <p>{{ user_reviews }}</p>
    </body>
    </html>
    