{% extends 'base.html' %}
{% block content %}

<h1>{{ app }}</h1>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>
<h5>Price </h5>
<p>{{ price }}<p>
<h5>Description: </h5>
<p>{{ description }}<p>
<h5>Model Number: </h5>
<p>{{ model_number }}<p>

    {% if not car_items %}
    <p>Belum ada data item mobil diecast.</p>
    {% else %}
    <table>
      <tr>
        <th>Price</th>
        <th>Description</th>
        <th>Model Number</th>
        <th>User Reviews</th>
      </tr>
    
      {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
      {% endcomment %} 
      {% for item in items %}
      <tr>
        <td>{{ item.price }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.model_number }}</td>
        <td>{{ item.user_reviews }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <br />
    
    <a href="{% url 'main:create_car_item' %}">
      <button>Add New Car Item</button>
    </a>

    <a href="{% url 'main:logout' %}">
      <button>Logout</button>
    </a>
    
    {% endblock content %}

